<div class="modal-header">
  <h5 class="modal-title font-weight text-center text-success" id="historymodalLabel">
    <% if @history.blank? %>
      Sem histórico para este vínculo
    <% else %>
      Usuário atual vinculado: <%= @history[0].last_user %>
    <% end %>
  </h5>
  <button type="button" class="btn btn-sm btn-close btn-danger" data-dismiss="modal" aria-hidden="true">×</button>
</div>
<div class="modal-body">
  <%= render partial: 'ativo_pge/bonds/partils/history' %>
</div>