<div class="card shadow">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-success"><%= form_title(action_name, @area) %></h6>
  </div>
  <div class="card-body">
    <%= render partial: 'ativo_pge/areas/form' %>
  </div>
</div>