<div class="control-group nested-fields">
  <div class="row g-3">
    <div class="control col-md-12">
      <%= f.text_field :number, maxlength: 7, class:"form-control border-6 small order_service"%>
    </div>
  </div>
</div>
<br>