<table class="table table-hover table-bordered">
  <thead>
  </thead>
  <tbody>
      <% @bonds.attach_ativo.each do |show_ativo| %>
        <tr>
          <td class="table-light">
            <%= show_ativo.ativo.tombo %> -
            <%= show_ativo.ativo.ativo_description %> - 
            <%= show_ativo.status %> - 
            <%= show_ativo.note %>
          </td>  
        </tr>
      <% end %>
  </tbody>
</table>