          <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel">Ativos vinculados</h5>
          </div>
          <div class="modal-body">
            ...
          </div>
            <div class="modal-footer">
          </div>