<footer class="sticky-footer bg-white">
  <div class="container my-auto">
    <div class="copyright text-center my-auto">
      <span>© 2022 - PORTAL DO SERVICE DESK</span>
    </div>
  </div>
</footer>