<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
  <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
    <i class="fa fa-bars"></i>
  </button>
  <form class="form-inline">
    <div class="input-group">
      <div class="input-group-append">
        <div class="mx-2 text-gray-600"></div>
      </div>
    </div>
  </form>
  <ul class="navbar-nav ml-auto">
    <div class="topbar-divider d-none d-sm-block"></div>
    <%= render partial: 'layouts/admin' %>
  </ul>
</nav>